.adv-product-card {
  position: relative;
  aspect-ratio: 1 /1.1;
}

.adv-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-sl {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  pointer-events: all;
}
.hotspot-btn {
  z-index: 2;
  position: absolute;
  top: var(--hotspot-top);
  left: var(--hotspot-left);
}

.popup-overlay-sl {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* very light black */
  z-index: 999;
}

.popup-modal-sl {
  display: none;
  width: 340px;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.img-box {
  width: 100%;
  height: 100%;
}

.modal-description {
  font-size: 13px;
  line-height: 1.1;
}
.details-box {
  gap: 12px;
}
.color-pills-box {
  width: 100%;
  border: 1px solid #000;
}
.pill-swatch-box {
  width: 100%;

  pointer-events: auto;
}
.adv-grid-pill {
  background: #fff;
  border: none;
  height: 100%;
  padding: 10px 12px;
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}
.pill-swatch {
  width: 8px;
  display: block;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
