.hero-height-small {
  min-height: 350px;
}
.hero-height-medium {
  min-height: 540px;
}
.hero-height-large {
  min-height: 760px;
}
.hero-height-full {
  min-height: 100vh;
}

.hero-img-container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content-sl {
  background: #fff;
  max-width: 590px;
}
.hero-content-inner {
  gap: 30px;
}

.hero-heading,
.hero-text p,
.hero-bottom p {
  margin: 0;
}
.hero-heading {
  font-weight: 500;
  font-size: var(--hero-heading-size);
}
.hero-text p {
  font-size: calc(var(--hero-heading-size) * 0.27);
  line-height: 1.4;
}
.hero-bottom p {
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 750px) {
  .hero-height-mobile {
    min-height: var(--hero-height-mobile);
  }
  .hero-img-container {
    background-size: contain;
    background-position: center bottom;
  }
  .hero-content-sl {
    background: transparent;
    max-width: 590px;
  }
  .hero-heading {
    font-weight: 500;
    font-size: calc(var(--hero-heading-size) * 0.6);
  }
  .hero-text p {
    line-height: 1.2;
  }
}
