.hero-height-small {
  min-height: 300px;
}
.hero-height-medium {
  min-height: 500px;
}
.hero-height-large {
  min-height: 750px;
}
.hero-height-full {
  min-height: 100vh;
}

.hero-img-container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content-sl {
  background: #fff;
  max-width: 530px;
}
.hero-content-inner {
  gap: 22px;
}

.hero-heading,
.hero-text p,
.hero-bottom p {
  margin: 0;
}
.hero-heading {
  font-weight: 500;
  font-size: var(--hero-heading-size);
}
.hero-bottom p {
  text-transform: uppercase;
}
