.hero-height-small {
  min-height: 300px;
}
.hero-height-medium {
  min-height: 500px;
}
.hero-height-large {
  min-height: 700px;
}
.hero-height-full {
  min-height: 100vh;
}

.hero-img-container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content-sl {
  background: #fff;
  max-width: 500px;
}
.hero-content-inner {
  gap: 16px;
}

.hero-heading {
  margin: 0;
  line-height: 1;
}
.hero-text p {
  margin-bottom: 0;
}
